@import url('./css/sidebar.css');
@import url('./css/sections.css');
@import url('./css/form.css');
@import url('./css/preview.css');
@import url('./css/footer.css');

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
